body {
    height: 100vh;
    margin: 0 auto;
    font-family: 'Nunito', sans-serif;
    background-image: linear-gradient(to right, rgb(32, 57, 141),rgb(12, 32, 99));
    color:rgb(167, 54, 73);
}

#main-container {
    width: 1000px;
    height: 700px;
    border: 4px solid rgb(48, 50, 163);
    margin: 0 auto;
    padding: 30px;
}

#header {
    text-align: center;
}

#header > * {
    display: inline-block;
}

.icon-header {
    font-size: 25px;
    margin: 0 2px;
    color:rgb(214, 197, 42);
    border: 2px solid rgb(214, 197, 42);
    border-radius: 100%;
    padding: 10px;
}

.icon-header:first-of-type {
    margin-left: 5px;
}

#game-container {
    text-align: center;
}

#game-container > *{
    margin: 50px 0;
}

#newGameBtn {
    font-size: 22px;
    height: 50px;
    width: 140px;
    border:2px solid rgb(167, 54, 73);
    border-radius: 25px;
    background: none;
    color: rgb(167, 54, 73);
}

#newGameBtn:hover {
    transition: 0.3s;
    background-color: rgb(167, 54, 73);
    color:rgb(199, 133, 144)
}

.pickElement-button {
    background: none;
    border: none;
    margin: 0;
    color:rgb(167, 54, 73);
}

.pickElement-button > * {
    font-size: 50px;
    margin: 0 20px;
}

.pickElement-button > *:hover {
    transition: 0.3s;
    color:rgb(214, 197, 42);
}

#score-container > *{
    display: inline-block;
    margin: 0 150px;
    font-size: 30px;
}

#playerScore-container > * {
    margin: 0 0 3px;
}

#playerScore {
    font-size: 40px;
    font-weight: bold;
    color:rgb(214, 197, 42);
}




