body {
    height: 100vh;
    margin: 0 auto;
}

.container {
    width: 800px;
    height: 700px;
    border: 10px solid black;
    margin: 0 auto;
    background-color: rgb(129, 142, 182);
}

.container > * {
    margin: 40px 0 ;
}

.text-center {
    text-align: center;
}

button {
    padding: 0;
    width: 100px;
    height: 50px;
    border: 2px solid rgb(33, 46, 92);
    background-color: rgb(163, 173, 202);
    font-size: 15px;
    margin-right: 10px;
    box-shadow: 4px 4px rgb(100, 114, 153);
}

button:hover {
    transition: 0.5s;
    box-shadow: none;
}

#js-playerPickElement {
    display: none;
}